{% extends 'index.html' %}
{% load static %}
{% block content %}
<body>
    <div class="container mt-5">
        {% if Error %}
        <h2 class=" bg-white text-danger text-center mt-5" >{{Error}}</h2>
        {% endif %}
        <div class="row">
            <div class="col-md-6 offset-md-3 signup-container">
                <h2 class="text-center">Sign Up</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="firstname">username</label>
                        <input type="text" class="form-control" id="fullname" placeholder="Enter your username" name='username'>
                        {% if form.username.errors %}{% for error in form.username.errors %} 
                        <p class="text-danger">* {{ error }}</p> 
                        {% endfor %}{% endif %}
                    </div>
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" id="first_name" placeholder="Enter your first name" name="first_name">
                        {% if form.first_name.errors %}{% for error in form.first_name.errors %} 
                        <p class="text-danger">* {{ error }}</p> 
                        {% endfor %}{% endif %}
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" id="last_name" placeholder="Enter your last name" name="last_name">
                        {% if form.last_name.errors %}{% for error in form.last_name.errors %} 
                        <p class="text-danger">* {{ error }}</p> 
                        {% endfor %}{% endif %}
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email address" name="email">
                        {% if form.email.errors %}{% for error in form.email.errors %} 
                        <p class="text-danger">* {{ error }}</p> 
                        {% endfor %}{% endif %}
                    </div>
                    <div class="form-group">
                        <label for="account_type">Account Type</label>
                        <select class="form-control" id="account_type" name="account_type">
                            <option value="Subscriber">Subscriber</option>
                            <option value="Editor">Editor</option>
                        </select>
                        {% if form.account_type.errors %}{% for error in form.account_type.errors %} 
                        <p class="text-danger">* {{ error }}</p> 
                        {% endfor %}{% endif %}
                    </div>
                    <div class="form-group">
                        <label for="account_type">Gender</label>
                        <select class="form-control" id="account_type" name="gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        {% if form.gender.errors %}{% for error in form.gender.errors %} 
                        <p class="text-danger">* {{ error }}</p> 
                        {% endfor %}{% endif %}
                    </div>
                    <div class="form-group">
                        <label for="birthdate">Date of Birth</label>
                        <input type="date" class="form-control" id="birthdate" placeholder="Enter your date of birth" name="birth_date">
                        {% if form.birthdate.errors %}{% for error in form.birthdate.errors %} 
                        <p class="text-danger">* {{ error }}</p> 
                        {% endfor %}{% endif %}
                    </div>                    
                    <div class="form-group">
                        <label for="phone_number">Mobile</label>
                        <input type="text" class="form-control" id="phone_number" placeholder="Enter your phone number" name="phone_number">
                        {% if form.phone_number.errors %}{% for error in form.phone_number.errors %} 
                        <p class="text-danger">* {{ error }}</p> 
                        {% endfor %}{% endif %}
                    </div>                   
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Choose a password" name="password1">
                        {% if form.password1.errors %}{% for error in form.password1.errors %} 
                        <p class="text-danger">* {{ error }}</p> 
                        {% endfor %}{% endif %}
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Confirm your password" name="password2">
                        {% if form.password2.errors %}{% for error in form.password2.errors %} 
                        <p class="text-danger">* {{ error }}</p> 
                        {% endfor %}{% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                </form>
                <p class="text-center mt-3">Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock content%}